# For now, ignore package-lock.json
package-lock.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc*
*$py.class
.pyo

# Packages
*.egg
*.egg-info
/dist/
/build/
/site/

# Installer logs
pip-log.txt

# Unit test / coverage reports
/.pytest_cache/
.coverage
coverage
.tox
junit.xml
VERSION.txt

# IDEs
/.idea/
/.pydevproject
